@use "sass:math";
@use "variables" as *;

* {

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// Properties apparently need to be declared with random values for below ::selection statement to have an effect.
:root {
  --wp--preset--color--primary: #000;
  --wp--custom--color--body--text: #fff;
}

::selection {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--custom--color--body--text);
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  padding-inline-start: var(--wp--style--root--padding-left);
  padding-inline-end: var(--wp--style--root--padding-right);
  -webkit-font-smoothing: antialiased;
}

.wp-site-blocks > main {
  margin-block-start: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-end: .75em !important;
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: unset;
  text-wrap: balance;

  &:first-child,
  & + p {
    margin-block-start: 0 !important
  }
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6, {
  margin-block-start: 0 !important;
}

p {

  & + & {
    margin-block-start: 1em !important;
  }

  // Empty paragraph block can easily be overlooked in editor.
  &:empty {
    display: none;
  }

  @media (max-width: $mobile-breakpoint - 1) {
    &:first-child {
      margin-block-start: 0 !important;
    }

    &:last-child {
      margin-block-end: 0 !important;
    }
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
	height: 100%;
  aspect-ratio: 16 / 9;
}

.skip-link:focus {
  background-color: pink;
  clip: auto !important;
  clip-path: none;
  color: $text-color-inverted;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}