@use "variables" as *;

@font-face {
  font-family: "MyWebfont";
  font-weight: normal;
  src: url("#{$theme-path}/static/fonts/my-webfont.woff2") format("woff2");
  font-display: optional; // swap for headings.
}

@font-face {
  font-family: "MyWebfont";
  font-weight: normal;
  font-style: italic;
  src: url("#{$theme-path}/static/fonts/my-webfont-italic.woff2") format("woff2");
  font-display: optional; // swap for headings.
}

@font-face {
  font-family: "MyWebfont";
  font-weight: 500;
  src: url("#{$theme-path}/static/fonts/my-webfont-semibold.woff2") format("woff2");
  font-display: optional; // swap for headings.
}

@font-face {
  font-family: "MyWebfont";
  font-weight: 700;
  src: url("#{$theme-path}/static/fonts/my-webfont-bold.woff2") format("woff2");
  font-display: optional; // swap for headings.
}