@use "variables" as v;
@use "functions" as f;

.alignfull {
  margin-inline-start: calc(var(--wp--style--root--padding-left) * -1);
  margin-inline-end: calc(var(--wp--style--root--padding-right) * -1);
}

/* .has-background {
  padding-block: var(--wp--style--block-gap);

  & + & {
    margin-block-start: 0 !important;
  }
} */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

@each $name, $color in map-get(v.$tokens, color) {
  $custom-property: var(--wp--preset--color--#{$name});

  .has-#{$name}-background-color {
    --currentBgColor: #{$custom-property};
    color: f.contrast-by-luminance($color, var(--wp--preset--color--primary), var(--wp--preset--color--secondary));
  }
}