@use "functions" as f;

/*
DO NOT USE THESE SASS VARIABLES DIRECTLY -
USE CSS CUSTOM PROPERTIES WHERE POSSIBLE!
*/

$prefix: 'kwio';

$tokens: (
  color: (
    primary: #111,
    secondary: #fff,
    accent-1: #FF4136,
    accent-2: #2ECC40,
    accent-3: #0074D9,
  ),
  font-family: (
    base: "-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif",
    heading: "Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol",
    mono: "Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace",
  ),
  font-size: (
    100: f.generate-clamp(12px, 16px),
    200: f.generate-clamp(14px, 18px),
    300: f.generate-clamp(16px, 20px),
    400: f.generate-clamp(18px, 21px),
    500: f.generate-clamp(26px, 32px),
    600: f.generate-clamp(36px, 44px),
  ),
  layout: (
    content-size: 960px,
    wide-size: 1024px,
  ),
  spacing: (
    100: 4rem,
    200: 8rem,
    300: 16rem,
    400: 32rem,
    500: 64rem,
  ),
);

$text-color: pink;
$text-color-inverted: pink;

$block-gap: 60px;
$block-inner-width: 800px;
$block-padding-inline: 20px;

$mobile-breakpoint: 680px;
$mobile-breakpoint-navigation: 850px;

// Usage in strings: #{$theme-path}
$theme-path : #{"../../.."} !default;

// Export variables to JS.
:export {
  mobileBreakpoint: $mobile-breakpoint;
  mobileBreakpointNavigation: $mobile-breakpoint-navigation;
}